<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>菜小兜</title>
  <link href="css/header.css" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
  <script src="js/jquery.JPlaceholder.js"></script>

  </head>
    <body>
		<!-- 背景图 -->
		<!-- {nocache}
		<img src="images/background/background{$smarty.session.bgNum}.jpg" id="bkImg" onmousedown="return false">
		{/nocache} -->
		<!-- 背景图 -->