{include file="header.html"}
<link href="css/help.css" rel="stylesheet" type="text/css">

<div class="hlep"><!--hlep区开始-->  
                <div class="hlep_left "><!--订单及用户信息开始--> 
                <ul>
                    <li class="_head">操作指南</li>
                    <li class="_body"><a href="help-1.html">购买须知</a></li>
                    <li class="_body"><a href="help-2.html">订购流程</a></li>
                    <li class="_head">支付说明</li>
                    <li class="_body"><a href="help-3.html">支付方式</a></li>
                    <li class="_body"><a href="help-4.html">退订退款</a></li>
                    <li class="_head">配送取货</li>
                    <li class="_body"><a href="help-5.html">自提说明</a></li>
                 </ul>
                </div><!--订单及用户信息结束--> 
                <div id="detile"><!-- 内容开始 -->
                    <h2 id="title">购买须知</h2>
                    <h3 class="subTitle">产品购买：</h3>
                    <p>用户可登陆菜小兜官方网站（www.caixiaodou.com）进行订购。选我们会根据您选择的方式在指定时间内进行配送。（由于生鲜产品的特殊性，会有一些重量误差。）</p>
                     
                    <h3 class="subTitle">客户签收注意事项：</h3>
                    <p>1、为了保障您的利益，请您提取菜品前，对照短信，仔细清点检查您订购的菜品的包装、质量、价格、数量等重要信息否与订单一致，确认无误后再提 菜。如商品配送有误、包装破损、产品腐烂、数量不对等问题，请及时联系客服人员，以便我们能尽快的为您处理。若有其他任何疑问，请拨打客户服务热线 400-882-1551。</p>
                    <p>2、鉴于生鲜商品的特殊性，可能会导致实际重量有所偏差，我们尽可能让偏差在正常范围内，请您谅解。</p>
                    <p>3、生鲜蔬菜的保质期较短，请当场仔细查收菜品，如有腐烂、变质问题，请您当场拒绝取货。</p>
                    <p>4、由于生鲜类商品属于特殊的商品，在生鲜类产品的称量过程及运送过程中可能会出现一些问题，并由此导致实际重量和您所称重量会有所偏差，这属正 常情况，请您谅解。但偏差严重超出合理范围的时候，您可联系客服并提供您的意见。注：由于某些生鲜类产品不适合精细称量，可能在称量过程中与您的订单重量 会有少许出入，我们尽量将其控制在±5％之内。</p>
                    <h3 class="subTitle">退货说明：</h3>
                    <p>1.蔬菜属于不可二次利用商品，为了保证蔬菜的新鲜度，青年菜君不受理非质量问题的退货。（非质量问题原因包括：蔬菜品种喜好问题、无人取菜而要求退货等。）</p>
                    <p>2、因蔬菜质量问题而造成的退货，青年菜君将于下次补发产生问题的蔬菜给您。</p>
                    <p>3、如因客户个人原因造成质量或其他严重问题的商品，概不受理退货。</p>
                     
                    <h3 class="subTitle">关于商品：</h3>
                    <p>1、本商品供应商为才俊青年（北京）科技有限公司，所有蔬菜均严格执行GB/T5009.199-2003中的标准，对每一批回场原料按此标准进行检验，对检验不合格的原料不予以使用。</p>
                    <p>2、产品在生产加工过程中均有生产品检现场巡查，保证产品的质量。</p>
                    <p>3、供应商对每批回场的蔬菜原料均进行留样处理，留样时间为72小时；确保产品的可追溯性。另外在发货前有专门部门进行严格质检，确保无任何质量问题和数量问题，给予发货。</p>
                     
                    <h3 class="subTitle">关于取菜：</h3>
                    <p>1、目前菜小兜支持自提和宅配两种配送方式。</p>
                    <p>2、自提范围包括：等几大片区。青年菜君自建冷链物流系统，所以菜品质量可以完全保障。</p>
                    <p>3、宅配范围包括：</p>
                    <p>4、提货时间：自提时间次日16:00-20:00，宅配时间次日16:30-21:00具体时间可根据需要与客服人员进行沟通。</p>
                    <p>5、自预定取菜之日起两天内，如因您个人原因菜品无法送达，则视为自动放弃取菜。过期菜品由青年菜君进行回收，逾期未自提的则视为用户已签收该订单，不再另行补配。</p>
                     
                    <h3 class="subTitle">支付方式：</h3>
                    <p>1、青年菜君提供预先付费的“网上支付”的支付方式。目前仅支持支付宝支付，更多支付方式还在开发中。</p>
                    <p>2、配送收款快递单视为收款凭证。如需收据，请在备注附言。本项目原则上不提供发票，大宗客户如需发票，请与客服联系咨询。</p>
                     
                    <h3 class="subTitle">投诉建议：</h3>
                    <p>如果您对我们有任何疑问，或者对我们的服务有任何意见或建议，非常欢迎您直接网上留言或直接与客服人员联系，我们将竭诚为您服务。服务热线： 400-882-1551</p>

                </div><!-- 内容结束-->
            </div><!--hlep区结束-->  



{include file="footer.html"}