{include file="header_nohead.html"}
<link href="css/login.css" rel="stylesheet" type="text/css">
<script src="js/login.js" type="text/javascript"></script>

<div class="login-headbg">

     <div class="login-head">
        <!-- <div class="register-block">
            <span>没有账号？ </span>
            <a href="index.php?route=register">注册</a>
        </div> -->

    </div>
</div>

<!-- login背景 -->
<div class="login-bg">
     <!--login开始-->
    <div class="login">  

        <div class="login_left">
            
                <div class="login-logo">
                    <a href="index.php?route=home">
                    <h1 id="logo-img">
                      <li id="logo_name">菜小兜</li>
                      <li id="http">caixiaodou.cn</li>
                   </h1>
                  </a>
                </div>

                <div class="login_left-img">
                    <a><img src="images/adverts/advert{$smarty.session.advertImg}.jpg"/></a>            
                </div>
        </div>

        
        <div class="login_right">
        
            <!--注册表单-->  
            <form class="login_right_down" action="index.php?route=login" method="post" onsubmit = "return checkInput()" autocomplete="on">

                <div id="login_head">用户登录
                    <span id="phnum">{if isset($smarty.session.boolLogin)}  {$smarty.session.boolLogin} {/if}</span>
                </div>

                <div class="login_seg"> <!--表单开始-->
                    
                   
                    <input class="frame" id="input_phNum" type="text" name="phNum"  placeholder="手机号" value="{if isset($smarty.session.userTel)}{$smarty.session.userTel}{/if}"/>
                   
                    <div class="login_tr">
                  
                    <input class="frame" id="input_pass" type="password" placeholder=""  name="pass" />
                    </div>
                    <div class="repass_tr">

                    <div class="auto-login">
                        <input type="checkbox" value="1" name="auto_login" id="autologin" class="f-check ui-checkbox">
                        <label class="normal" for="autologin">一周内自动登录</label>
                        <a target="_top" class="forget-password">忘记密码？</a>   
                    </div>
                  
                    <input class="submit_btn" type="submit" value="登录" style="cursor:pointer"/>
                    </div>
                    <p class="signup-guid">
                        &nbsp;还没有账号？
                        <a id="regNow" href="index.php?route=register">免费注册</a>
                    </p>
                  
                </div>
                <!--表单结束-->
                
            </form>
            <!--注册表单结束-->
        </div>
    </div> 
    <!--login结束-->   
</div>
<!-- login背景 -->

{include file="footer.html"}

