
{if $smarty.session.addr == 'true'}
  {if $allProduct}  
  
    {section name=product loop=$allProduct} 

    <!--product开始-->  
    <div class="product">

      <!-- 商品 top -->
      <div class="pic-box J_PicBox">

        <div class="pic-box-inner">
          <!-- 商品图片 -->
          <div class="pic">

            <a href="index.php?route=details&id={$allProduct[product].productId}">
              <img src="{$allProduct[product].imgRoot}" id="good" />
            </a> 

          </div>
          <!-- 商品图片 -->
        </div>
      </div>
      <!-- 商品 top  -->
      
      <!-- 商品价格 -->
      <div class="ctx-box">

        <div class="p-row row1"> 
          <strong class="p-price">
            <b>￥</b>
            <b>{$allProduct[product].productNewPrice}</b>
          </strong>
        </div>

        <div class="p-row row2">
          <span>{$allProduct[product].productDiscount}</span>
        </div>

        <div class="p-row row3">
          <a href="index.php?route=details&id={$allProduct[product].productId}">{$allProduct[product].productName}</a>
        </div>

        <div class="p-row row4">
          <a href="index.php?route=details&id={$allProduct[product].productId}">{$allProduct[product].productCharacter}</a>
        </div>
      </div>
      

    </div>
    <!--product结束-->
    {/section} 

  {else}
    <div class="empty">
      <div class="notice-filter-noresult">
        <div class="nf-n-wrap clearfix">
          <span class="nf-icon"></span>
          <div class="nf-content">
            <span class="result">抱歉，没有找到相关的商品</span>
            <p>建议您：</p>
            <p>1、选择其他菜式</p>
            <p>2、查看
              <a class="nf-all" href="#none" onclick="selectFoodName(100 , '全部菜品')">全部菜品</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  {/if}

{else}

<div class="empty">
      <div class="notice-filter-noresult">
        <div class="nf-n-wrap clearfix">
          <span class="nf-icon"></span>
          <div class="nf-content">
            <span class="result">抱歉，该地铁还未有营业</span>
            <p>建议您：</p>
            <p>1、选择离自己家较近的地铁</p>
          </div>
        </div>
      </div>
    </div>

{/if}